/* BUTTONS.SCSS */

.btn {
  font-family: $font-family-serif, serif;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 0.1em;
  @each $name, $color in $palette {
    &.#{$name} {
      background-color: get-color($name, root);
      color: $hero-text-color;
    }
  }
  &.small {font-size: 80%; padding: 0;}

  &.btn-primary {
    color: #fff;
    padding: 0.5em 1.5em;
    background: $btn-primary-color;
    
    &:hover {
      text-decoration: none;
      background: $link-hover-color;
    }
  }
  
  &.btn-secondary {
    color: $btn-primary-color;
    padding: 0.5em 1.5em;
    box-shadow: 0 0 0 1px $btn-secondary-color inset;
    
    &:hover {
      text-decoration: none;
      box-shadow: 0 0 0 2px $btn-secondary-color inset;
    }
  }
}
