/* MIXINS.SCSS */
@mixin breakpoint($point) {
  @if $point <= 480 {
    @media (max-width: 480px) { @content; }
  }
  @else if $point >= 481 {
    @media (max-width: 1250px) { @content; }
  }
}

@mixin alpha-background-color($color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  background-color: $solid-color;
  background-color: $color;
}
